@page
@model CroweContacts.Pages.Phone.DetailsModel

<div>
    <h4>Phone Numbers</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneVm.Device)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneVm.Device)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneVm.Number)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneVm.Number)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneVm.Extension)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneVm.Extension)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneVm.ContactId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneVm.ContactId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.PhoneVm.PhoneId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
